*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    background-color: yellow;
    height: 200px;
    width: 300px;
    padding: 10px;
}
.box2{
    background-color: rgb(0, 255, 34);
    height: 200px;
    width: 300px;
    padding: 10px;
}
.box{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: aqua;
}
.card3{
    margin-top: 10px;
    height: 200px;
    width: 300px;
    color: white;
    border: 2px solid yellow;
    background-color: blueviolet;
    margin-left: 25px;
}
.card4{
    margin-top: 15px;
    height: 200px;
    width: 300px;
    border: 2px solid rgb(255, 0, 13);
    background-color: rgb(255, 217, 0);
    margin-left: 25px;
}